/* body{
    background: rgb(255,255,0);
} */

.container{
    width: 750px;
}

.subContainer_select_button{
    justify-content: center;
    gap: 25px;
}
.container_calculator{
    width: 730px;
    flex-direction: row;
    justify-content: space-between;
}

.sub_container_inputs_circle,
.sub_container_inputs_square,
.sub_container_inputs_triangle,
.sub_container_inputs_sphere,
.sub_container_inputs_cube{
    padding: 1rem;
}

.container_buttons{
    height: 60px;
    width: 180px;
    margin-top: 70px;
}
.container_buttons{
    padding: 0;
}

.container_showResults{
    width: 243px;
}

.footer_container{
    flex-direction: row;
}