:root {
    font-size: 62.5%;
    /* --blanco: #edf2f4;
    --primario: #d90429;
    --secundario: #ef233c;
    --gris: #adb5bd;
    --grisClaro: #f1f1f3;
    --oscuro: #212529;
    --negro: #121212; */

    --blanco: #fff;
    --primario: #ffd60a;
    --secundario: #ffc300;
    --azulClaro: #003566;
    --azulNeutral: #001d3d;
    --gris: #adb5bd;
    --grisClaro: #f1f1f3;
    --oscuro: #212529;
    --negro: #121212;

    --titles: 2.6rem;
    --secondary_title: 2rem;
    --paragraph: 1.8rem;
    --small_text: 1.4rem;
}

html {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 320px;
}

body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    min-height: 100%;
    width: 100%;
    min-width: 320px;
    font-family: 'Rubik', sans-serif;
    background: rgb(255, 255, 255);
    line-height: 1.5;
    display: flex;
    align-items: center;
    padding-bottom: 6rem;
    padding-top: 1rem
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* HERE FINALLY MY INITIAL SETTINGS */
/* HERE STARTS THE STYLES STYLES */
.container {
    margin: 0 auto;
    width: 320px;
    margin-bottom: 8rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.45);
}

/* WELCOME AND NAME APP TOP SECTION */
.container_welcome {
    background-color: var(--azulNeutral);
    margin: 0 auto;
    border-top: 1px solid var(--gris);
    border-right: 1px solid var(--gris);
    border-left: 1px solid var(--gris);
    border-bottom: 1px solid var(--gris);
    border-radius: 5px 5px 0 0;
}

.text_welcome {
    text-align: center;
    color: var(--blanco);
    font-size: var(--titles);
    font-weight: 500;
}

.name_calculator {
    color: var(--secundario);
    font-weight: 700;
}

.container_titleMain {
    background-color: var(--azulNeutral);
    text-align: center;
    padding: 1rem;
    border-left: 1px solid var(--gris);
    border-right: 1px solid var(--gris);
}

.title_main {
    margin: 0;
    font-size: var(--paragraph);
    font-weight: 400;
    color: var(--blanco);
}

/* FIGURES SELECTOR BUTTONS SECTION */
.container_select_button {
    background-color: var(--azulNeutral);
    margin: 0 auto;
    padding-bottom: 1rem;
    border-left: 1px solid var(--gris);
    border-right: 1px solid var(--gris);
}

.subContainer_select_button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.subContainer_select_button label {
    position: relative;
    background-color: var(--azulNeutral);
    border: 1px solid var(--gris);
    border-radius: 5px;
    padding: .8rem;
    width: auto;
    display: flex;
    box-shadow: 0px 12px 24px -12px rgb(0 0 0 / 40%);
    -webkit-box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 40%);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.subContainer_select_button label:hover {
    background-color: var(--azulClaro);
}

.button_geobutton {
    margin: 0;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
}

.button_geobutton+svg {
    color: var(--gris);
    width: 3.5rem;
    cursor: pointer;
}

.button_geobutton svg {
    margin: 0;
    padding: 0;
}

.button_geobutton:hover+svg,
.button_geobutton:checked+svg,
.button_geobutton:focus+svg {
    color: var(--secundario);
    cursor: pointer;
}

.button_geobutton+svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}


/* INPUTS SECTION */
.container_calculator {
    border-top: 1px solid var(--gris);
    border-right: 1px solid var(--gris);
    border-left: 1px solid var(--gris);
    border-bottom: 1px solid var(--gris);
    border-radius: 0 0 5px 5px;
    /* padding: 1rem; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--azulNeutral);
}

.sub_container_inputs_circle,
.sub_container_inputs_square,
.sub_container_inputs_triangle,
.sub_container_inputs_sphere,
.sub_container_inputs_cube {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.sub_container_inputs_square,
.sub_container_inputs_triangle,
.sub_container_inputs_sphere,
.sub_container_inputs_cube {
    display: none;
}

.inputs_title {
    font-size: var(--paragraph);
    font-weight: 400;
    color: var(--blanco);
    margin: 0 auto;
}

.label_input {
    padding: .2rem;
    /* font-size: var(--small_text); */
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--blanco);
    background-color: var(--azulNeutral);
    border-top: 1px solid var(--gris);
    border-left: 1px solid var(--gris);
    border-right: 1px solid var(--gris);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

.input {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--gris);
    border-radius: 0px 0px 5px 5px;
    outline: none;
    font-size: var(--paragraph);
    background-color: var(--azulNeutral);
    color: var(--blanco);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.input:hover {
    background-color: var(--azulClaro);
}

.input:focus {
    background-color: var(--azulClaro);
}

/* HIDE ARROW OF INPUT FIELDS DEFAULT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* BUTTONS SECTION */
.container_buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

.button_submit {
    background-color: var(--primario);
    color: var(--azulClaro);
    font-size: var(--secondary_title);
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 4rem;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.button_submit:hover {
    background-color: var(--secundario);
}

/* SHOW RESULTS SECTION */
.container_showResults {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.results_title {
    font-size: var(--paragraph);
    font-weight: 400;
    color: var(--blanco);
    margin: 0 auto;
}

.result_input {
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--gris);
    border-radius: 0px 0px 5px 5px;
    background-color: var(--azulNeutral);
    color: var(--blanco);
    font-size: var(--paragraph);
    text-align: center;
}

#container_showResults_volume {
    display: none;
}


/* FOOTER FOOTER FOOTER SECTION */
.footer_container {

    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grisClaro);
    box-shadow: 0px -10px 20px -10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px -10px 20px -10px rgba(0, 0, 0, 0.3);
    margin-top: 10rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.copyright {
    font-size: 1.4rem;
}

.madeBy {
    font-size: 1.4rem;
    margin: 0;
}

.fa-heart {
    color: #db001d;
}

.dev {
    font-weight: 500;
    color: var(--oscuro);
}